<main class="map-page">
    {% if children is defined and children|length > 0 %}
        <skua-map-scroller access-token={{ mapboxToken }} data="{{ Map.geoJSON(children)|json_encode|default('{}') }}" tile="mapbox://styles/qwerg/cl1xmlqwl007w14mq0nzh2gae">
            {% for child in children %}
                <dna-map-scroller-step data-id="{{ child.id }}" center="{{ Map.getObjectCoords(child)|default() }}" zoom="10">
                    <div class="map-scroller-item bg-surface radius-0">
                        {% if child.has_media is defined and child.has_media|length %}
                            <dna-slideshow class="w-full" carousel controls cover controlslist="nodots noplayback nocounter">
                                {% for media in child.has_media %}
                                    {% if media.type == 'videos' %}
                                        <video class="w-full" src="{{ media.media_url }}" controls/>
                                    {% elseif media.type == 'images' %}
                                        <img class="w-full" src="{{ media.media_url }}" role="button" alt="" data-parent="{{ child.uname }}"/>
                                    {% endif %}
                                {% endfor %}
                            </dna-slideshow>
                        {% endif %}

                        <div class="item-content">
                            <div class="index mono f-3 bold">{{ loop.index }}</div>
                            <h2 class="title mono f-3 mt-0 mb-2 medium">{{ child.title }}</h2>
                            {% if child.description|default() %}
                                <div class="description">{{ child.description|raw }}</div>
                            {% endif %}
                            {% if child.body|default(null) %}
                                <div class="body">{{ child.body|raw }}</div>
                            {% endif %}
                        </div>
                    </div>
                </dna-map-scroller-step>
            {% endfor %}
        </skua-map-scroller>

        {% for child in children %}
            {% if child.has_media is defined and child.has_media|length %}
                <app-dialog data-for="{{ child.uname }}">
                    <dna-slideshow class="w-full" carousel controls cover controlslist="nodots noplayback nocounter">
                        {% for media in child.has_media %}
                            {% if media.type == 'videos' %}
                                <dna-zoom-panel>
                                    <video class="w-full" src="{{ media.media_url }}" controls/>
                                </dna-zoom-panel>
                            {% elseif media.type == 'images' %}
                                <dna-zoom-panel>
                                    <img class="w-full" src="{{ media.media_url }}" alt=""/>
                                </dna-zoom-panel>
                            {% endif %}
                        {% endfor %}
                    </dna-slideshow>
                </app-dialog>
            {% endif %}
        {% endfor %}
    {% endif %}
</main>

{{ Rna.script("#{_view.theme}.mapscroller", { block: true })|raw }}
{{ Rna.script("#{_view.theme}.app-dialog", { block: true })|raw }}
