<main class="tracking-page">
    <dna-map
        center="{{ center|default('') }}"
        data="{{ data|default('{}')|json_encode }}"
        access-token={{ mapboxToken }}
        tile="mapbox://styles/qwerg/cmjcp8ix4001401qug569gbyt"
        zoom="7"
        controls
        attribution={{'<a class="chialab-it" href="https://chialab.it" target="_blank" aria-label="Chialab website">ß chialab</a>'|escape('html_attr')}}
    />
</main>

{{ Rna.css("#{_view.theme}.tracking-page", { block: true })|raw }}
