<dna-map-scroller access-token={{mapboxToken}} area="0, 0, 0, 50%">
    {% for child in children %}
        <dna-map-scroller-step center={{Map.getLocationCoords(child)|default()}} zoom="12">
            <div class="map-scroller-item bg-surface">
                <h2>{{child.title}}</h2>
                <div>{{child.body|raw}}</div>
                {% if child.has_media is defined and child.has_media|length %}
                    <dna-slideshow carousel controls cover>
                        {% for media in child.has_media %}
                            <img src="{{ media.media_url }}" alt="" />
                        {% endfor %}
                    </dna-slideshow>
                {% endif %}
            </div>
        </dna-map-scroller-step>
    {% endfor %}
</dna-map-scroller>
