{# filtro le location per le card, escludendo quelle solo per la lineString #}
{% set locations = children|filter(child => child.title|default(null) or child.body|default(null) or child.description|default(null)) %}

<main class="journey-page">
    {% if locations|length > 0 %}
        <skua-map-scroller
            access-token={{ mapboxToken }}
            data="{{ Map.geoJSON(children)|json_encode|default('{}') }}"
            tile="mapbox://styles/qwerg/cmi4s3awf004601s3gie977fn/draft"
        >
            {% for location in locations %}
                <dna-map-scroller-step
                    id="{{ location.uname }}"
                    data-uname="{{ location.uname }}"
                    center="{{ Map.getObjectCoords(location)|default() }}"
                    zoom="10"
                >
                    <div class="map-scroller-item bg-surface radius-0">
                        <div class="item-content">
                            {% if loop.index == 1 %}
                                <h1 class="journey-title f-7 medium mt-0">{{currentJourney.title}}</h1>
                            {% endif %}
                            <div class="index mono f-3 bold mb-1 ml-3">{{ loop.index }}</div>
                            <h2 class="title f-4 mt-0 mb-3">{{ location.title|default('') }}</h2>
                            {% if location.description|default() %}
                                <div class="description f-2">{{ Placeholders.template(location, 'description')|raw }}</div>
                            {% endif %}
                            {% if location.body|default() %}
                                <div class="body f-2">{{ Placeholders.template(location, 'body')|raw }}</div>
                            {% endif %}
                        </div>
                    </div>
                </dna-map-scroller-step>
            {% endfor %}
        </skua-map-scroller>
    {% endif %}
</main>

{{ Rna.script("#{_view.theme}.mapscroller", { block: true })|raw }}
{{ Rna.css("#{_view.theme}.journey-page", { block: true })|raw }}
