{% macro renderMedia(media, parentUname, hasZoom = false) %}
    {% if media is defined %}
        {% if media.type == 'videos' %}
            <video class="w-full" src="{{ media.media_url }}" controls/>
        {% elseif media.type == 'images' %}
            {% if hasZoom %}
                <dna-zoom-panel>
                    <img class="w-full" src="{{ media.media_url }}" alt=""/>
                </dna-zoom-panel>
            {% else %}
                <img class="w-full" src="{{ media.media_url }}" alt="" role="button" data-parent="{{ parentUname }}"/>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro renderMediaItems(items, parentUname, hasZoom = false) %}
    {% if items is defined and items|length %}
        {% if items|length == 1 %}
            {{ _self.renderMedia(items|first, hasZoom) }}
        {% else %}
            <dna-slideshow class="w-full" carousel controls cover controlslist="nodots noplayback nocounter">
                {% for media in items %}
                    {{ _self.renderMedia(media, parentUname, hasZoom) }}
                {% endfor %}
            </dna-slideshow>
        {% endif %}
    {% endif %}
{% endmacro %}

{% set locations = children|filter(child => child.title|default(null) or child.body|default(null) or child.description|default(null)) %}

<main class="journey-page">
    {% if locations|length > 0 %}
        <skua-map-scroller
            access-token={{ mapboxToken }}
            data="{{ Map.geoJSON(children)|json_encode|default('{}') }}"
            tile="mapbox://styles/qwerg/cmi4s3awf004601s3gie977fn/draft"
        >
            {% for location in locations %}
                <dna-map-scroller-step id="{{ location.uname }}" data-uname="{{ location.uname }}" center="{{ Map.getObjectCoords(location)|default() }}" zoom="10">
                    <div class="map-scroller-item bg-surface radius-0">
                        <div class="item-content">
                            <div class="index mono f-3 bold">{{ loop.index }}</div>
                            <h2 class="title mono f-3 mt-0 mb-2 medium">{{ location.title|default('') }}</h2>
                            {% if location.description|default() %}
                                <div class="description">{{ location.description|raw }}</div>
                            {% endif %}
                            {% if location.body|default(null) %}
                                <div class="body">{{ location.body|raw }}</div>
                            {% endif %}
                        </div>

                        {{ _self.renderMediaItems(location.has_media, location.uname) }}
                    </div>
                </dna-map-scroller-step>
            {% endfor %}
        </skua-map-scroller>

        {% for location in locations %}
            {% if location.has_media|default(null) and location.has_media|length > 0 %}
                <app-dialog data-for="{{ location.uname }}">
                    {{ _self.renderMediaItems(location.has_media, true) }}
                </app-dialog>
            {% endif %}
        {% endfor %}
    {% endif %}
</main>

{{ Rna.script("#{_view.theme}.mapscroller", { block: true })|raw }}
{{ Rna.script("#{_view.theme}.app-dialog", { block: true })|raw }}
{{ Rna.css("#{_view.theme}.journey-page", { block: true })|raw }}
