<header class="w-full">
    <h1 class="hidden-title">{{ object.title|default(publication.title) }}</h1>
    {{ element('claim')|raw }}
</header>

<main class="w-full">
    {{ element('folder-layout', { folder: object })|raw }}

    {% if Paginator.total() > 1 %}
        <div class="pagination mono row gap-s end mt-4">
            {% if Paginator.hasPrev() %}
                {{ Paginator.prev(__('previous'))|raw }}
            {% endif %}
            <span class="link--section">{{ Paginator.counter(__('page {{page}} of {{pages}}'))|raw }}</span>
            {% if Paginator.hasNext() %}
                {{ Paginator.next(__('next'))|raw }}
            {% endif %}
        </div>
    {% endif %}
</main>
