{% if Poster.exists(object) %}
    <div class="w-full">
        {% set variant = Poster.exists(object, { variant: 1 }) ? 1 : 0 %}
        <img class="explode-x h-2 p-0 block cover" alt="" src="{{ Poster.url(object, 'default', {
            variant: variant,
        }) }}" />
    </div>
{% endif %}

<article class="column w-8 gap-2">
    <header class="column gap-0">
        <h1 class="m-0 f-7 serif regular italic">{{ object.title|raw }}</h1>
        {% if object.get('description') is not empty %}
            <div class="mt-4 f-6 serif regular light description">
                {{ object.description|raw }}
            </div>
        {% endif %}
    </header>

    {% if object.get('body') is not empty %}
        <div class="column serif f-3 body">
            {{ Text.renderBody(object, 'body')|raw }}
        </div>
    {% endif %}
</article>
<aside class="column w-4 aside f-s">
    {% if object.get('has_clients') is not empty %}
        <div class="column gap-xs">
            <span class="mono text-accent bold">{{ __('Client') }}</span>
            <span class="mono bold">{{ (object.has_clients|first).title|raw }}</span>
        </div>
    {% endif %}

    {% if object.get('has_authors') is not empty %}
        <div class="column gap-xs">
            <span class="mono text-accent bold">{{ __('Author') }}</span>
            <span class="mono bold">{{ (object.has_authors|first).title|raw }}</span>
        </div>
    {% endif %}

    {% if object.get('year') is not empty %}
        <div class="column gap-xs">
            <span class="mono text-accent bold">{{ __('Year') }}</span>
            <span class="mono light">{{ object.year|raw }}</span>
        </div>
    {% endif %}

    {% if object.get('categories') is not empty %}
        <div class="column gap-xs">
            <span class="mono text-accent bold">{{ __('Job categories') }}</span>
            <ul class="list--comma">
                {% for category in object.categories %}
                    <li class="mono light">{{ category.label|raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if object.get('has_links') is not empty %}
        <div class="column gap-xs">
            <span class="mono text-accent bold">{{ __('Links') }}</span>
            {% for link in object.has_links %}
                <a class="mono bold link--underline" href="{{ Url.build({ _name: 'pages:objects', _entity: link }) }}" target="_blank">{{ link.title|raw }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% if object.get('see_also') is not empty %}
        <div class="mt-2 column">
            <span class="link--section">{{ __('See also') }}</span>
            <div class="row">
                {% for item in object.see_also %}
                    <a class="block w-2 h-1 column end mono bg-neutral"
                        href="{{ Url.build({ _name: 'pages:objects', _entity: item }) }}"
                        target="_blank"
                        {% if Poster.exists(item) %}style="background-image: url('{{ Poster.url(item) }}'); background-size: cover; background-position: center;"{% endif %}
                    >
                        <div class="w-full p-1 bg-overlay f-xs light">{{ item.title|raw }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</aside>
