<header class="w-full">
    {{ element('claim', { object: parent })|raw }}
</header>
<main class="w-full gap-1 grid">
    {% if parent is defined and parent.get('children')|length > 0 %}
        <div class="w-3">
            {{ element('toc', { items: parent.children, current: object })|raw }}
        </div>
    {% endif %}
    <section class="w-8">
        <h1 class="m-0 serif italic regular f-7">{{ object.title }}</h1>
        {% if object.get('description') is defined and object.get('description')|striptags is not empty %}
            <p class="serif regular f-6">{{ object.get('description')|striptags|raw }}</p>
        {% endif %}

        {# here "object" should be a folder #}
        {% if object.get('children')|length > 0 %}
            <div class="w-full column">
                {% set childrenLen = object.get('children')|length %}
                {% if object.get('children')|filter((c) => c.type == 'profiles')|length == childrenLen %}
                    {# all children are profiles #}
                    {{ element('folder-masonry', { children: object.children })|raw }}
                {% else %}
                    {% for item in object.children %}
                        <article class="w-full mb-4">
                            {% if item.type == 'galleries' %}
                                {% if item.get('description') is defined %}
                                    <div class="serif light italic f-4 mb-2">
                                        {{ item.get('description')|raw }}
                                    </div>
                                {% endif %}
                                <dna-slideshow class="w-full" controls carousel controlslist="noplayback nodots" autoplay="5000">
                                    {% for slide in item.has_media %}
                                        <div class="w-full slideshow-item">
                                            {% if Poster.exists(slide) %}
                                                <img class="w-full h-4 poster {{ Poster.position(slide) }}" alt="{{ slide.title|striptags|raw|escape('html_attr') }}" src="{{ Poster.url(slide) }}"/>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </dna-slideshow>
                                {# We should model the old BE3 text multimedia as the body of the whole gallery, as it it does not change from slide to slide #}
                                {% if item.get('body') is defined %}
                                    <div class="mt-2 serif light italic f-4">
                                        {{ item.get('body')|raw }}
                                    </div>
                                {% endif %}
                            {% else %}
                                <h2 class="m-0 mb-2 serif regular f-6">
                                    {{ item.title }}
                                </h2>
                                {% if item.get('body') is defined %}
                                    <div class="m-0 mb-2 serif f-3 body">{{ item.get('body')|raw }}</div>
                                {% endif %}
                                {% set len = item.get('see_also')|default([])|length %}
                                {% if len > 0 %}
                                    <div class="grid w-full">
                                        {% for child in item.see_also %}
                                            {{ element('card-small', { class: 'h-1-half w-2', object: child })|raw }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </article>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </section>
</main>
