<a class="card column gap-0 {{ class|default('') }}" title="{{ object.title|striptags|escape('html_attr')|raw }}" href="{{ Url.build({
    _name: 'pages:objects',
    _entity: object,
}) }}">
    {% if Poster.exists(object) %}
        <div class="card__cover ratio--16-9">
            <img alt="" src="{{ Poster.url(object) }}" draggable="false" />
        </div>
    {% endif %}
    <div class="card__details serif w-full py-1 column gap-xs">
        {% if object.get('has_clients') is not empty %}
            <span class="mono f-s text-accent bold">{{ object.has_clients|first.title|raw }}</span>
        {% endif %}
        <h3 class="f-6 m-0 regular italic card__title">{{ object.title|raw }}</h3>
        {% if object.get('description') is not empty %}
            <div class="f-3 clamp-4 body card__description">
                {{ Text.renderDescription(object.description)|raw }}
            </div>
        {% endif %}
        {% if object.get('categories') is not empty %}
            <ul class="list--comma">
                {% for category in object.categories %}
                    <li class="mono f-xs">{{ category.label|raw }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</a>
