<skua-topbar>
{% if journeys|default([])|length > 0 %}
    <a href="{{ Url.build({'_name': 'pages:home'}) }}"
        class="tracking"
        aria-current="{{ _view.getRequest().getPath() == '/' ? 'page' : 'false' }}"
    >Tracking</a>
    {% for journey in journeys %}
        <a href="{{ Url.build({'_name': 'pages:journey', 'uname': journey.uname}) }}"
            aria-current="{{ currentJourney is defined and journey.uname == currentJourney.uname ? 'page' : 'false' }}"
        >{{ journey.title|default(journey.uname) }}</a>
    {% endfor %}
{% endif %}
</skua-topbar>
