<a class="card column gap-0 {{ class|default('') }}" title="{{ object.title|striptags|escape('html_attr')|raw }}" href="{{ Url.build({
    _name: 'pages:objects',
    _entity: object,
}) }}">
    {% if Poster.exists(object) %}
        <div class="w-full card__cover card__cover--zoom ratio--16-9">
            <img alt="" src="{{ Poster.url(object, 'default') }}" draggable="false" />
        </div>
    {% endif %}
    <div class="card__details flex-none serif w-full py-1 column gap-xs">
        {{ element('card-heading', {
            object: object,
        }) }}
        <h3 class="f-6 m-0 regular italic card__title balance">{{ object.title|raw }}</h3>
        {% if object.get('description') is not empty %}
            <div class="clamp-4 card__description">
                <div class="f-3 description">{{ object.description|striptags('<p><ul><ol><li><br><strong><em><i><u>')|raw }}</div>
            </div>
        {% endif %}
        {{ element('card-footer', {
            object: object,
        }) }}
    </div>
</a>
