<a class="card-small {{ class|default('')}} column end mono bg-neutral"
    href="{{ Url.build({ _name: 'pages:objects', _entity: object }) }}"
    target="_blank"
    title="{{ object.get('title')|default('')|escape('html_attr')|raw }}"
    {% if Poster.exists(object) %}style="background-image: url('{{ Poster.url(object) }}'); background-size: cover; background-position: center;"{% endif %}
>
    {% if object.get('title') is not empty %}
        <div class="w-full p-1 bg-overlay f-xs light">{{ object.get('title')|raw }}</div>
    {% endif %}
</a>
