{% set rgb = Color.hexToRgb(object.get('color')|default('#e5e5e5')) %}

<a class="card explode-x pr-0" title="{{ object.title|striptags|escape('html_attr')|raw }}" href="{{ Url.build({
    _name: 'pages:objects',
    _entity: object,
}) }}" style="--r: {{ rgb.r }}; --g: {{ rgb.g }}; --b: {{ rgb.b }};">
    <div class="w-full row no-wrap gap-5">
        <div class="w-4 max-60p py-3 card__details serif flex-none column gap-xs">
            {{ element('card-heading', {
                object: object,
            }) }}
            <h3 class="f-5 m-0 regular italic card__title balance">{{ object.title|raw }}</h3>
            {% if object.get('description') is not empty %}
                <div class="clamp-4 card__description">
                    <div class="f-3 description">{{ object.description|striptags('<p><ul><ol><li><br><strong><em><i><u>')|raw }}</div>
                </div>
            {% endif %}
            {{ element('card-footer', {
                object: object,
            }) }}
        </div>
        {% if Poster.exists(object) %}
            <div class="fill h-3 card__cover">
                <img alt="" src="{{ Poster.url(object) }}" draggable="false" />
            </div>
        {% endif %}
    </div>
</a>
