<cl-card-details class="card bt-1 w-4 column gap-0 bg-neutral" title="{{ object.title|striptags|escape('html_attr')|raw }}">
    {% if Poster.exists(object) %}
        <div class="card__cover card__cover--zoom" slot="cover">
            <img alt="" src="{{ Poster.url(object) }}" draggable="false" />
        </div>
    {% endif %}
    <div class="card__details sans w-full column gap-xs" slot="details">
        {% if object.get('has_clients') is not empty %}
            <span class="mono f-s text-accent bold card__title">{{ (object.has_clients|first).title|raw }}</span>
        {% endif %}
        <h3 class="f-5 m-0 regular card__title">{{ object.title|raw }}</h3>
            <div class="card__description column">
                {% if object.get('description') is not empty %}
                    <div class="w-full f-3 body">
                        {{ Text.renderDescription(object.description)|raw }}
                    </div>
                {% endif %}

                {% if object.get('has_media') is not empty %}
                    <div class="w-full row">
                        {% for item in object.has_media %}
                            <img src="{{ Poster.url(item)|escape('html_attr') }}" class="w-1 h-1 cover" draggable="false" />
                        {% endfor %}
                    </div>
                {% endif %}

                {% if object.get('see_also') is not empty %}
                    <div class="w-full column">
                        <span class="link--section">{{ __('See also') }}</span>
                        <div class="row w-full">
                            {% for item in object.see_also %}
                                <a class="flex pt-6 column end" title="{{ item.title|escape('html_attr')|raw }}" style="width: 40%; background-size: cover; background-position: center; background-image: url('{{ Poster.url(item)|escape('html_attr') }}')">
                                    <span class="w-full p-1 bg-overlay mono f-s">{{ item.title|raw }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
    </div>
</cl-card-details>
