<div class="card column gap-0 {{ class|default('') }}">
    {% if Poster.exists(object) %}
        <a class="w-full card__cover card__cover--zoom ratio--16-9" title="{{ object.title|striptags|escape('html_attr')|raw }}" href="{{ Url.build({
            _name: 'pages:objects',
            _entity: object,
        }) }}">
            <img alt="" src="{{ Poster.url(object) }}" draggable="false" />
        </a>
    {% endif %}
    <div class="card__details flex-none serif w-full py-1 column gap-xs">
        {% if object.get('has_clients') is not empty %}
            <span class="mono f-s text-accent bold">{{ object.has_clients|first.title|raw }}</span>
        {% endif %}
        <a title="{{ object.title|striptags|escape('html_attr')|raw }}" href="{{ Url.build({
            _name: 'pages:objects',
            _entity: object,
        }) }}">
            <h3 class="f-6 m-0 regular italic card__title">{{ object.title|raw }}</h3>
        </a>
        {% if object.get('description') is not empty %}
            <div class="f-3 clamp-4 description card__description">
                {{ object.description|raw }}
            </div>
        {% endif %}
        {% if object.get('categories') is not empty %}
            <ul class="list--comma">
                {% for category in object.categories %}
                    <li class="mono f-xs light">{{ category.label|raw }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
