<footer class="w-full bt-1 mt-6 py-2 pb-8 grid">
    <div class="footer__info mono light f-s column w-4">
        <span class="mono f-2 column gap-xs bold">
            chialab
            <span class="text-accent" aria-hidden="true">ẞ</span>
        </span>
        {% if publication.get('has_publisher') is not empty %}
            {% set contacts = publication.has_publisher|first %}
            <div class="column gap-xs">
                {% if contacts.get('email') is not empty %}
                    <a class="text-underline link--underline" href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
                {% endif %}
                {% if contacts.get('street_address') is not empty %}
                    <span>{{ contacts.street_address|striptags|raw }}</span>
                {% endif %}
                <span>
                    {% if contacts.get('zipcode') is not empty %}
                        {{ contacts.zipcode|raw }}
                    {% endif %}
                    {% if contacts.get('city') is not empty %}
                        {{ contacts.city|raw }},
                    {% endif %}
                    {% if contacts.get('country') is not empty %}
                        {{ contacts.country|raw }}
                    {% endif %}
                </span>
                {% if contacts.get('phone') is not empty %}
                    <a class="link--underline" href="tel:{{ contacts.phone }}">{{ contacts.phone }}</a>
                {% endif %}
                {% if contacts.get('vat_number') is not empty %}
                    <span>{{ contacts.vat_number|raw }}</span>
                {% endif %}
                {% if publication.get('has_privacy_policies') is not empty %}
                    <a class="link--underline" href="{{ Url.build({ _name: 'pages:objects', _entity: publication.has_privacy_policies|first }) }}">{{ __('privacy policy') }}</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="w-8 row">
        {% for child in footerChildren|default([]) %}
            <div class="w-2 column">
                <span class="mono upper light">{{ child.title|raw }}</span>
                {% if child.get('has_links') is not empty %}
                    <ul class="list--plain f-s column gap-xs">
                        {% for link in child.get('has_links') %}
                            <li class="mono">
                                <a class="text-underline upper"
                                    {% if link.get('title') is not empty %}title="{{ link.get('title')|striptags|raw|escape('html_attr') }}"{% endif %}
                                        href="{{ link.url|escape('html_attr') }}"
                                        target="_blank"
                                    >{{ link.title|default(link.url)|raw|striptags }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        {% if publication.get('has_newsletters') is not empty %}
            <div class="w-2 column">
                <span class="mono upper light">{{ __('newsletter')|raw }}</span>
                <ul class="list--plain f-s column gap-xs">
                    {% for item in publication.has_newsletters %}
                        <li class="mono column gap-xs">
                            <span class="upper">{{ item.title|raw }}</span>
                            <a class="link--underline light" href="{{ item.url|escape('html_attr')|raw }}" target="_blank">{{ __('signup') }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</footer>
