{{ _view.element('claim')|raw }}

{% for folder in folders %}
<div class="w-full column section">
    <h2 class="m-0 mono bold f-1 bb-1 py-2 w-full">{{ folder.title|raw }} /</h2>

    {{ _view.element('folder-layout', { folder: folder })|raw }}

    <div class="w-full row end">
        <a class="link--section" href="{{ Url.build({ _name: 'pages:objects', _entity: folder }) }}">{{ __('open {0}', folder.title)|raw }}</a>
    </div>
</div>
{% endfor %}

